@model IEnumerable<CartEntry>
@{
    ViewData["Title"] = "Cart";
    var anyProducts = Model.Any();
}

<section id="cart-header" class="py-4 bg-light text-center">
    <h2>Your cart</h2>
    <p>Check if you've chosen everything you'd like! Submit the order when you're ready to go.</p>
    <a class="btn btn-outline-secondary rounded-pill" asp-action="Index">Back to the products</a>
    @if (anyProducts)
    {
        <button id="clear-btn" class="btn btn-outline-danger rounded-pill">Clear the cart</button>
    }
</section>

<section id="cart-body" class="py-4">
    @if (anyProducts)
    {
        <div class="container-sm">
            @foreach (var product in Model)
            {
                <div class="card my-2">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5>@product.Product.Name</h5>
                                    <p class="text-muted">@product.Product.Description</p>
                                    <p>Total price: <strong>$@product.TotalPrice</strong></p>
                                </div>
                                <div class="col-auto my-auto">
                                    <p class="display-6 text-muted">@product.Amount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
            <div class="justify-content-around hstack gap-5">
                <div class="mt-4 text-center">
                    <small>Total price:</small>
                    <p class="display-5">$@Model.Sum(entry => entry.TotalPrice)</p>
                </div>
                
                <form method="post" asp-action="Submit">
                    <button type="submit" class="btn btn-outline-success rounded-pill btn-lg my-auto">Submit order</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="text-center text-muted">
            <h4>Currently there are no products in the cart.</h4>
            <p>View the products and choose something suitable for you.</p>
        </div>
    }
</section>

@section Scripts
{
    <script src="~/js/cart.js"></script>
}