@model Order
@{
    ViewData["Title"] = "Order tracking";
}

<div class="text-center">
    <h2>Track your order</h2>
    <h4>Thank you for your order! Here you are able to track the status of your order.</h4>
</div>

@await Html.PartialAsync("Order/_OrderDetails", Model)
<input type="hidden" id="order-id-input" value="@Model.Id"/>

<h4>Current status of your order: 
    <span id="order-status-text">@Model.OrderStatus.Name</span> 
    (<span id="order-status-id">@Model.OrderStatus.Id</span> of @((byte)OrderStatusEnum.Completed))
</h4>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/statusChangedReceiver.js"></script>
}
