@model Order
@{
    ViewData["Title"] = "Order tracking";
}

<section id="status-header" class="text-center bg-light p-4">
    <h2>Track your order</h2>
    <p>Thank you for your order! Here you are able to track the status of your order.</p>
</section>

<section id="status-progress" class="text-center p-4">
    <div class="container-sm justify-content-center">
        <h4 id="order-status-text" class="display-6">@Model.OrderStatus.Name</h4>
        <p>Your order has been sent to the restaurant. Now it has to be confirmed by the restaurant.</p>
        <div class="progress my-4">
            <div id="status-progressbar" 
                 class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                 role="progressbar" aria-label="Order progress" 
                 style="width: @(Model.OrderStatusId * 100 / 4)%;" 
                 aria-valuenow="@Model.OrderStatusId" aria-valuemin="0" aria-valuemax="4"></div>
        </div>
    </div>
</section>

@await Html.PartialAsync("Order/_OrderDetails", Model)
<input type="hidden" id="order-id-input" value="@Model.Id"/>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/statusChangedReceiver.js"></script>
}
