@model Trackmeal.ViewModels.OrderSummaryViewModel
@{
    ViewData["Title"] = "Order summary";
}

<div class="text-center">
    <h2>Thank you!</h2>
    <h4>Here's the summary of your order</h4>
</div>

@await Html.PartialAsync("Order/_OrderDetails", Model.Order)

<div>
    @Html.ActionLink("Track the status of your order here", "Status", new { token = Model.Order.Token }, new { @class = "btn btn-primary" })
    <p>Scan this QR code in order to move to order tracking page:</p>
    <img src="@Model.QrCodeImageSource" style="width: 200px; height: 200px"/>
</div>
