@model Order
@{
    ViewData["Title"] = "Order summary";
}

<div class="text-center">
    <h2>Thank you!</h2>
    <h4>Here's the summary of your order</h4>
</div>

@await Html.PartialAsync("Order/_OrderDetails", Model)
@Html.ActionLink("Track the status of your order here", "Status", new { token = Model.Token }, new { @class = "btn btn-primary" })