@model Order
@{
    ViewData["Title"] = "Order summary";
}

<div class="text-center">
    <h2>Thank you!</h2>
    <h4>Here's the summary of your order</h4>
</div>

@await Html.PartialAsync("_OrderDetails", Model)