@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section id="home-intro" class="bg-light px-4 py-5 shadow-sm">
        <h1 class="display-4">Manage your restaurant.<br/>Simply and effectively.</h1>
        <p class="mt-4">Trackmeal allows you to give your customers highly comfortable experience.</p>
    </section>
    <section id="home-tracking" class="px-4 py-4">
        <h2 class="h1">Track your order status with QR code</h2>
        <p class="mt-3">Forget about standing at the order collection place and continuously looking at the status screen.
            Now you can check in real-time what's the status of your order.</p>
    </section>
    <section id="home-order" class="bg-light px-4 py-4">
        <h2 class="h1">Place an order with just several clicks</h2>
        <p class="mt-3">Order process is very simple and quick. 
            The solution is customer-friendly and they certainly won't get lost.</p>
    </section>
    <section id="home-manage" class="px-4 py-4">
        <h2 class="h1">Manage the orders effectively</h2>
        <p class="mt-3">Administrators are given the panel, which allows them to quickly change the status of a certain order, 
            which is updated in real-time for a customer.</p>
    </section>
    <section id="home-products" class="bg-light px-4 py-4">
        <h2 class="h1">Add new products to your menu</h2>
        <p class="mt-3">Panel for administrators provides a simple form for adding new products to your restaurant's database.</p>
    </section>
</div>
