@{
    ViewData["Title"] = "Manage";
}

<div class="text-center p-4">
    <h2>Trackmeal management center</h2>
    <p class="mb-5">This is the place where you can manage products and orders</p>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary btn-lg rounded-pill mb-3" asp-area="Manage" asp-controller="Products" asp-action="Index">
                    <strong>Products</strong>
                </a>
                <p>
                    Here you are able to manage the products that are available to order by customers.
                    You are able to create, edit and delete products and give them specific name, description
                    and price.
                </p>
            </div>
            <div class="col border-start">
                <a class="btn btn-outline-success btn-lg rounded-pill mb-3" asp-area="Manage" asp-controller="Orders" asp-action="Index">
                    <strong>Orders</strong>
                </a>
                <p>
                    This is the place where you can manage orders made by customers. You are able to
                    modify state of active orders and view their details.
                </p>
            </div>
        </div>
    </div>
</div>