@model IEnumerable<Trackmeal.Models.Order>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Manage orders";
}

<h2>Manage orders</h2>
@Html.ActionLink("View completed orders", "Completed", new { }, new { @class = "btn btn-primary" })
@await Html.PartialAsync("Order/_OrdersList", Model)
